body {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.popup {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile{
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}

.mobile-text{
    background-color: white;
    
    width: 50vw;
    border: 1px solid lightgray;
    border-radius: 10px;
    
    
}
.popup-text {
    background-color: white;
    height: 50vh;
    width: 50vw;
    border: 1px solid lightgray;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    padding-left: 32px;
    padding-right: 32px;
}

.logo {
    height: 100px;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    text-decoration: underline;


}



.menu {
    width: 30px !important;
    height: 30px !important;

    cursor: pointer;

}

.content {
    display: flex;
}

.left-content {
    width: 70%;

}

.left-content img {
    width: 100%;
    height: 200px;
    object-fit: cover;

}

.margin {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-top: 50px;

}

.second-logo {
    height: 120px !important;
    width: 150px !important;
    align-items: center;
    border-radius: 50%;
    position: relative;
    border: none !important;
    top: -80px;

}

.headline {
    display: flex;
    justify-content: space-between;
    margin-left: 12px;
    height: 55px;

}

.headline img {
    border: 1px solid lightgray;
    margin-top: 12px;
    margin-right: 24px;
    padding-left: 16px;
    padding-right: 16px;
    width: 32px;
    height: 32px;

}

.headline img:hover {
    border: 1px solid orange;

}


.rating {
    display: flex;
    margin-left: 10px;
    position: relative;

}

.rating img {
    width: 120px !important;
    height: 50px !important;

}

.slider {
    background-color: lightgray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 8px;

}

.right-content {
    height: 100vh;
    width: 30%;
    border: 1px solid lightgray;
    position: sticky;
    top: 0;
    transition: all 225ms ease-in-out;
}

footer {
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

footer a {
    text-decoration: none;
    color: white;
    padding-left: 8px;

}

footer a:hover {
    text-decoration: underline;

}

.food-script {
    position: relative;
    display: flex;
    flex-direction: column;
    border: 2px solid lightgray;
    padding: 8px;
}

.food-script:hover {
    border: 2px solid orange;

}

.btn {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
}

.basket {
    border: 1px solid lightgray;
}

.basket-center {
    text-align: center;

}

.basket-sum {

    display: flex;
    justify-content: space-between;
    padding: 12px;
    color: black;
    font-size: 18px;
}

.basket-sum .btn {
    font-size: 20px;
    padding-left: 12px;
    padding-right: 12px;
    color: black;
    text-decoration: none;
    border: 1px solid lightgray;

}

.href {
    font-size: 24px;

    cursor: pointer;
    border: 1px solid lightgray;
}

.href:hover {
    background-color: rgb(226, 225, 222);

}

.sum {
    display: flex !important;
    flex-direction: column !important;
    justify-content: space-around !important;
    margin: 8px;
    padding-top: 16px;

}

.bestellBtn {
    background-color: orange;
    font-size: 16px;
    padding: 8px;
    margin-top: 10px;
}

.bestellBtn:hover {
    background-color: rgb(228, 199, 146);
}

.d-none {
    display: none;
}

.mobile-screen{
    background-color: orange;
    padding: 8px;
    position: fixed;
    bottom: 10px;
    left:16px;
    right: 16px;
    font-size: 24px;
    border-radius: 10px;
    
}

.mobile-screen:hover{
    background-color: rgb(228, 199, 146);
}

.mobile-center{
    display: flex;
    justify-content: center;
}
@media(max-width: 1000px) {
    .logo {
        font-size: 20px;
    }
}

@media (max-width: 900px) {
    .right-content {
        display: none;
    }

    .mobile-screen{
        display: flex;
        justify-content: center;
    }
    .left-content {
        width: 100%;
    }

    .basket-center {
        background-color: white;
        height: 50vh;
        width: 50vw;
        border: 1px solid lightgray;
        border-radius: 10px;
        padding-top: 50px;
        padding-left: 32px;
        padding-right: 32px;
    }
    .mobile-text{
        flex-direction: inherit;
    }
}

@media (max-width: 700px) {


    .second-logo {
        display: none;
    }

    .logo p {
        display: none;

    }

    

    .mobile-text{
        flex-direction: inherit;
    }

    @media (max-width: 600px){
        .basket-sum{
            flex-direction: column;
        }
    }

    /*
    .logo img {
        width: 80px;
        height: 50px;
    }

    .responsive{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
*/

}

@media(max-width: 400px) {
    h1 {
        font-size: 20px;
    }

    
    .rating img {
        width: 70px !important;
        height: 20px !important;
    }

    .rating {
        flex-direction: column;
        font-size: 10px;
    }

    .headline img {
        width: 26px;
        height: 26px;
    }
    .margin{
        margin-left: 50px;
        margin-right: 50px;
    }

    
    .sum{
        font-size: 14px;
    }
}